.item {
    width: 80%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 5px;

    color: #272727;;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, .75);
}

.item:hover,
.item:focus {
    background: #c6e6f1;
    color: #0a0a0a;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.status {
    display: block;

    width: 15px;
    height: 15px;
    margin-right: 15px;

    border-radius: 50%;
}

.statusTrue {
    composes: status;
    background-color: #11ae21;
}

.statusFalse {
    composes: status;
    background-color: #f00505;
}

.avatar {
    padding: 15px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.name {
    font-size: 20px;
    font-weight: 700;
}