.statistics {
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    
    background:#f3f4ef;
    color: #3b3b3b;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, .75);
    
    transition: all 300ms ease 0s;
}

.statistics:hover, 
.statistics:focus {
    background: #bcf2e8;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: #1d1d1e;
}

.title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    padding: 20px;
}

.statList {
    display: flex;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 20%;
    padding: 10px;
    gap: 10px;

    color: #ffffff;
}

.item:first-child {
    border-bottom-left-radius: 5px;
}

.item:last-child {
    border-bottom-right-radius: 5px;
}

.label {
    font-weight: 500;
}

.percentage {
    font-size: 25px;
    font-weight: 500;
}